html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  font-family: $text-font;
}

main {
  background: rgb(170,51,170);
  background: linear-gradient(40deg, rgba(170,51,170,1) 0%, rgba(96,55,145,1) 100%); 
  padding: 5rem 0 10rem;
}

section {
  padding: 8rem 0;
}

.box-conditions {
  color: #555;
  background: white;
  border-radius: 1rem;
  box-shadow: .4rem .4rem 2rem rgba(0,0,0,.4);
  font-size: 2rem;
  padding: 4rem;

  & span.initial-price {
    position: relative;
    display: inline-block;
    &:after {
      background: red;
      content: "";
      height: 2px;
      left: -8px;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 115%;
      z-index: 1;
    }
  }
  & span.current-price {
    display: block;
  }    
  & span.price {
    display: block;
    & .rs {
      color: $primary-color;
      font-size: 3rem;
      font-family: $title-font;
    }
    & .number {
      color: $primary-color;
      font-family: $title-font;
      font-size: 6rem;
    }
    & .cents {
      color: $primary-color;
      font-size: 6rem;
      font-family: $title-font;
    }
    & .month {
      font-style: italic;
      &:after {
        content: "*";
        color: $primary-color;
      }
    }
  }
  & ul {
    padding: 2rem 0 3rem;
    border-top: .5rem solid #eee;
    border-bottom: .5rem solid #eee;
    margin-top: 1rem;
    & li {
    list-style: none;
      &:before {
        content: url(../img/icon-checked.svg);
        display: inline-block;
        margin-right: 2rem;
        width: 1.5rem;
      }
    }
  }
  & em {
    font-size: 1.4rem;
    &:before {
      content: "*";
      margin-right: .5rem;
      color: $primary-color;
    }
  }
}

#about {
  & img {
    max-width: 6rem;
    margin-bottom: 4rem;
  }
}

#why, #reports {
  background: #eee;
}

.reason {
  background: white;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.1);
  padding: 3rem 3rem 4rem;
  & p {
    margin-bottom: 0;
  }
  & img {
    margin-bottom: 20px;
    max-width: 55px;
  }
}

#what, #alessandra {
  background: rgb(170,51,170);
  background: linear-gradient(40deg, rgba(170,51,170,1) 0%, rgba(96,55,145,1) 100%);
  color: white;
}

#what {
  & img[alt="Máquina de costura"] {
    max-width: 6rem;
    margin-bottom: 3rem;
  }
}

.img-svg {
  margin-bottom: 3rem;
  margin-right: .5rem;
  max-width: 6rem;
  vertical-align: middle;
}

.piece {
  border: 2px solid white;
  border-radius: 6px;
  background:transparent;
  color: white;
  padding: 2rem;
  text-align: center;
}

.bonus {
  border: 2px solid rgba(255,255,255,1);
  border-radius: 6px;
  padding: 3rem;
  background: white;
  color: black;
  & img {
    margin-bottom: 2rem;
    max-width: 6rem;
  }
  & p {
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.5;
    color: #555;
  }
}

#who {
  & ul {
    & li {
      list-style: none;
        &:before {
          content: url(../img/icon-checked.svg);
          display: inline-block;
          margin-right: 2rem;
          width: 1.5rem;
        }
      }
  }
}

#alessandra {
  & img {
    border-radius: 50%;
    border: 15px solid #eee;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
    position: sticky;
    top: 3rem;
  }
}

footer {
  background: $primary-color;
  color: white;
  padding: 1rem 0;
  span.copyright {
    font-size: 1.6rem;
  }
}