h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 900;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.75rem;
}

h3 {
  font-size: 2rem;
}


main h1, main p {
  color: white;
}
 #why {
   & h2 {
     color: $primary-color;
   }
   & .reason p {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: 1.4;
   }
 }

 #who {
   & h2 {
     color: $primary-color;
   }
 }

p, summary {
  font-size: 2rem;
}

p {
  margin-bottom: 3rem;
}

summary {
  font-weight: 900;
  font-family: $title-font;
  margin-bottom: 0;
}

details p {
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}

details {
  border: 1px solid#dfdfdf;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  & summary {
    color: #666;
  }
  &[open] summary {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2rem;
    padding: 0 0 1rem;    
  }
}

p + .button {
  margin-top: 0;
}

.row + p {
  margin-top: 3rem;
}

li {
  font-size: 2rem;
}