h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 900;
}

h1 {
  font-size: 5rem;
}

main h1, main p {
  color: white;
}

p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

p + .button {
  margin-top: 0;
}

.row + p {
  margin-top: 3rem;
}