/* Colors */
$primary-color:   #aa33aa;
$secondary-color: #32c22a;
$terciary-color:  #eef2f5;

/* Fonts */
$title-font:        'Nunito Sans', sans-serif;
$text-font:         'Barlow', sans-serif;

/* Texts */
$font-size:          10px;
$line-height-text:   1.5;